*{
    /* margin:none; */
    /* padding:0px; */
   list-style-type: none;}
div{
    background-color: azure;
    border: 2px;
    width: 500px;
    height: 500px;
    padding: 50px;
    color: blueviolet;
    border-radius: 20px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:20px ;
    margin-bottom: 20px;
}
.bangladesh{
    background-color: aqua;
}
.nepal{
    background-color: cornflowerblue;
    width: 200px;
    height: 200px;
  margin-top:  30px;
    padding: 100px;margin: 50px;
    box-shadow: 10px 20px 50px 10px  chocolate;
    color: white;
}
.logo{
    display: flex;
    justify-content: space-between;
    margin-top: none;
    /* list-style-type: none; */
    margin: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 justify-items: center;
 background-color: aquamarine;
}
.bol{
    display: flex;
    gap: 20px;
}